*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FF3131;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.face{
    background: #FFB88E;
    width: 360px;
    height: 360px;
    position: relative;
    border-bottom: 4px solid #000;
    border-radius: 40% 60% 60% 80% / 40% 60% 60% 80%;
    box-shadow: 0px 0px 50px #000;
}
.face::after{
    width: 190px;
    height: 190px;
    content: "";
    top: 190px;
    right: -80px;
    bottom: 180px;
    background: #FFB88E;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    border-radius: 50% 80% 80% 80% / 50% 90% 90% 80%;    
    transform: rotate(-10deg);
}

.ear{
    height: 120px;
    width: 120px;
    content: "";
    top: 100px;
    left: -115px;
    right: 70px;
    position: absolute;
    background-color: #FFB88E;
    border-left: 2px solid #000;
    border-radius: 50% 20% 20% 50% / 50% 10% 40% 90%;
}
.mouth{
    content: "";
    top: 320px;
    left: 160px;
    right: -100px;
    align-self: center;
    position: absolute;
    width:55px ;
    height: 80px;
    border: 2px solid black;
    background: #A54253;
    border-radius: 50%;
    animation: openmouth 1s infinite;
}



/*Left Eye */


.eye{
    background: #000;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 49%;
    top: 100px;
    left: 40px;
    bottom:70px;
    position: absolute;
}

/*Inner Eye white*/
.eye::before{
    content: "";
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    top:24px;
    left: 50px;
    right: -10px;
    border-radius: 50%;
    transition: 2s  ease-in-out;
    animation: eyeball-bounce 4s infinite;
}

/*Boune animaiton to lok up and down*/

@keyframes eyeball-bounce {
    50% {top: -1px;}
    100%{bottom: 1px}
}
.right-eye{
    background: #000;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 49%;
    top: 100px;
    left: 195px;
    position: absolute;
    z-index: 0;
}

/*Innner Eye white */
.right-eye::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    top:24px;
    left: 50px;
    right: -10px;
    border-radius: 50%;
    z-index: 1;
    animation: eyeball-bounce 4s infinite;
}
.hair-up{
    content: "";
    z-index: 1;
    background: #000;
    border: solid 2px #000;
    width: 200px;
    height: 30px;
    position: absolute;
    right: 100px;
    top: -15px;
    border-radius:20%;
}

.hair-down{
    content: "";
    background: #000;
    border: solid 2px #000;
    width: 150px;
    height: 100px;
    position: absolute;
    right: 100px;
    left: -30px;
    border-radius: 50%; 
    transform: rotate(-50deg);
    z-index: -1;
}

.horn-left{
    content: "";
    background: #000;
    width:105px;
    height: 35px;
    position: absolute;
    rotate: -50deg;
    top: 5px;
    border-radius: 20%;
    
}

.horn-left::after{
    content: "";
    background: #000;
    width:105px;
    height: 35px;
    position: absolute;
    rotate: 100deg;
    top: 25px;
    left: 30px;
  
    border-radius: 20%;   
}

/* Styling for the Right Horn */
.horn-right {
    content: "";
    background: #000;
    width: 105px;
    height: 35px;
    position: absolute;
    rotate: 50deg; 
    top: 5px;

    right: 0px; 
    border-radius: 20%;
}

.horn-right::after {
    content: "";
    background: #000;
    width: 105px;
    height: 35px;
    position: absolute;
    rotate: -100deg; 
    top: 25px;
    left: -30px; 
    border-radius: 20%;
}


/**Hmmmmmmmmmmmm PRESS Q part of all Psudeo classes shit */
.brows{
    background: #000 ;
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    top: 80px;
    left: 30px; 
    border-radius: 50%;
    transform: rotate(-10deg);   
}

.brows::after{
    background: #000 ;
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    top: 30px;
    right: -160px; 
    border-radius: 50%;
    transform: rotate(20deg);
}