*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FF3131;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.face{
    background: #FFB88E;
    width: 360px;
    height: 360px;
    position: relative;
    border-bottom: 4px solid #000;
    border-radius: 40% 60% 60% 80% / 40% 60% 60% 80%;
}
.face::after{
    width: 190px;
    height: 190px;
    content: "";
    top: 190px;
    right: -80px;
    bottom: 180px;
    background: #FFB88E;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    border-radius: 50% 80% 80% 80% / 50% 90% 90% 80%;    
}

.ear{
    height: 120px;
    width: 120px;
    content: "";
    top: 100px;
    left: -115px;
    right: 70px;
    position: absolute;
    background-color: #FFB88E;
    border-left: 2px solid #000;
    border-radius: 50% 20% 20% 50% / 50% 10% 40% 90%;
}
.mouth{
    content: "";
    top: 320px;
    left: 160px;
    right: -100px;
    align-self: center;
    position: absolute;
    width:55px ;
    height: 80px;
    border: 2px solid black;
    background: #A54253;
    border-radius: 50%;
}


.eye{
    background: #000;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 49%;
    top: 100px;
    left: 40px;
    bottom:70px;
    position: absolute;
}

/*Left Eye */
.eye::before{
    content: "";
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    top:24px;
    left: 50px;
    right: -10px;
    border-radius: 50%;
}

.right-eye{
    background: #000;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 49%;
    top: 100px;
    left: 195px;
    position: absolute;
    z-index: 0;
}
.right-eye::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    top:24px;
    left: 50px;
    right: -10px;
    border-radius: 50%;
    z-index: 1;
}