/**  
=========================  
GLOBAL RESETS
=========================

CSS FACE BY WSUITS6

**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main Body Element Styling*/
body {
    background: #FF3131;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*
============= 
Head styling 
=============
*/

.head {
    width: 260px;
    height: 260px;
    background: #FFB88E;
    border-radius: 40% 60% 60% 80% / 40% 60% 60% 80%;
    border: 4px solid #000;
    position: relative;
}

/*KofiS LEFT EAR using Psudeo element */


.head::before {
    content: '';
    width: 65px;
    height: 85px;
    background: #FFB88E;

    /*Border coloring */
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    position: absolute;
    transform: translate(-60px, 100px) rotate(-10deg);
    

    /*Special styling of the border raduis to look more like an ear*/
    border-radius: 50% 10% 40% 40% / 50% 10% 20% 90%;
}


/*KOFIS SIDE CHEECK */

.head::after {
    content: '';
    width: 150px;
    height: 160px;

    background: #FFB88E;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    position: absolute;
    transform: translate(146px, 100px);
    border-radius: 0% 70% 80% 40%;
}

/*
============
EYE OF KOF
============
*/


/*MAIN EYE*/
.eye-left {
   background: #000;
   height: 60px;
   width: 65px;
   position: absolute;
   top: 90px;
   left: 45px;
   border-radius: 50%;
}

/*BROWS*/

.eye-left::before {
   content: '';
   width: 90px;
   height: 90px;
   position: absolute;
   border-radius: 50%;
   top: -30px;
   left: -15px;
   border-top: 4px solid #000;
}

/*INNER EYE*/
.eye-left::after {
   content: '';
   background: #fff;
   width: 25px;
   height: 25px;
   position: absolute;
   border-radius: 50%;
   top: 15px;
   left: 17px;
}

/*RIGHT EYE*/
.eye-right {
   background: #000;
   height: 60px;
   width: 65px;
   position: absolute;
   top: 90px;
   right: 30px;
    border-radius: 50%;
   z-index: 1;
}

/*EYE BROWS*/
.eye-right::before {
   content: '';
   width: 90px;
   height: 90px;
   position: absolute;
   border-radius: 50%;
   top: -30px;
   right: -10px;
   border-top: 4px solid #000;
}


.eye-right::after {
   content: '';
   background: #fff;
   width: 25px;
   height: 25px;
   position: absolute;
   border-radius: 50%;
   top: 15px;
   right: 17px;
}



/*
=================
HAIR STYLING
=================

*/


/*Main Hari element Styling  TOP HAIR */


.hair {
   background: #000;
   width: 165px;
   height: 15px;
   position: absolute;
   top: -2px;
   left: 19px;
   border-radius: 60% 60% 60% 80%;
}

/*Back hair using psudeo class */

.hair:before {
   content: '';
   background: #000;
   width: 80px;
   height: 155px;
   position: absolute;
   left: -49px;
   transform: rotate(50px);
   border-radius: 80% 20% 20% 20%;
   z-index: -2;
}



/*
----------------------
KOFIS HORN 
----------------------
*/

/*LEFT*/
.horn-left {
    background: #000;
    width: 25px;
    height: 70px;
    position: absolute;
    top: -15px;
    transform: rotate(25deg);
    border-radius: 80% 60% 80% 60%;
}


.horn-left::after {
   content: '';
   background: #000;
   width: 25px;
   height: 65px;
   position: absolute;
   top: -10px;
   left: 22px;
   transform: rotate(-65deg);
   border-radius: 80% 60% 80% 60%;
}



/*RIGHT*/
.horn-right {
   background: #000;
   width: 25px;
   height: 70px;
   position: absolute;
   top: -15px;
   right: 30px;
   transform: rotate(-55deg);
   border-radius: 80% 60% 80% 60%;
   animation: bounce 2s ease-in-out infinite;
}

.horn-right::after {
   content: '';
   background: #000;
   width: 25px;
   height: 65px;
   position: absolute;
   top: -18px;
   right: 25px;
   transform: rotate(80deg);
   border-radius: 80% 60% 80% 60%;
}

/*
================
MOUTH OF KOFI
================
*/

.mouth {
   background: #A54253;
   width: 35px;
   height: 45px;
   position: absolute;
   bottom: -20px;
   left: 130px;
   z-index: 1;
   border-radius: 50px;
   border: 2px solid #000;
}
